.list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;

    & > li {
     cursor: pointer;
     width: 100px;

     & :hover {
        transform: scale(1.5);
        opacity: 0.5;
     }
    
    }
}